body{
	background: rgb(167,180,214);
	background: linear-gradient(90deg, rgba(167,180,214,1) 0%, rgba(198,219,238,1) 100%);
	color: black;
	font-family: Berlin Sans FB Demi,verdana,arial;
}
#lipsum{
	
}
form{
	background: rgb(166,183,227);
	background: linear-gradient(90deg, rgba(166,183,227,1) 0%, rgba(167,205,214,1) 100%);
	/*border-width: 1px;*/
	padding: 10px;
	border-radius: 7px;
	margin-left: auto;
	margin-right: auto;
}

fieldset{
	/*width: 100%;*/
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: black;
	border-top-left-radius: 7px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 7px;
	border-right-style: hidden;
	border-bottom-style: hidden;
}
.campos{
	padding: 5px;
	line-height: 1.4;
}
#campo1{

}
#campo2{

}
#campo3{

}
input{
	border-style: solid;
	border-color: black;
	border-width: 1px;

}

#fotop{

}
#corpoperfil{
	border-style: solid;
	border-color: black;
	border-radius: 5px;
}
#fotoperfil{
	border-style: solid;
	border-color: black;
	border-radius: 3px;
	width: 200px;
	display: flex;
	align-items: center; 
	justify-content: center; 
	margin: 5px;
}
header{
	/*
	border-top-color: black;
	border-bottom-color: black;
	border-top-style: solid;
	border-bottom-style: solid;
	*/
	border-bottom-style: solid;
	border-radius: 5px;
	height: auto;
	width: 100%;
	border-color: #A7CDD6;
	background: rgb(193,193,247);
	background: linear-gradient(90deg, rgba(193,193,247,1) 0%, rgba(173,209,237,1) 100%);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url("../imagens/fundo.png");

}
#corpo{
	border-style: solid;
	border-radius: 5px;
	height: auto;
	width: 90%;
	border-color: #A7CDD6;
	background: rgb(166,183,227);
	background: linear-gradient(90deg, rgba(166,183,227,1) 0%, rgba(167,205,214,1) 100%);
	margin-left: auto;
	margin-right: auto;
}
section{

}
footer{

}
aside{

}
article{

}
nav{

}
#barra{
	background-color: #A6B7E3;
	line-height: 2;
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-color: #A7CDD6;
	border-style: solid;
	border-bottom-style: hidden;
	border-radius: 7px;
}
#logo{
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px;
}
#logoimg{
	border-style: solid;
	border-color: #C1C1F7;
	border-radius: 5px;
}
a:link{
	text-decoration: none;
	color: blue;
}
a:visited{
	color: darkblue;
}
a:hover{
	text-decoration: underline;
	color: red;

}
a:active{
	text-decoration: underline;
	color: rgb(209 226 238);
}
a#altft{
	font-family: Berlin Sans FB Demi,verdana,arial;
	border-style: solid;
	border-color: black;
	background-color: lightgray;
}
#bemvindo{
	width: 90%;
	padding: 2px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}
#manda{
	text-align: center;
}